<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changlu.web.mapper.ZfCcieMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.changlu.web.entity.ZfCcieModel">
        <id column="ccie_id" property="ccieId" />
        <result column="ccie_name" property="ccieName" />
        <result column="ccie_img" property="ccieImg" />
        <result column="ccci_get_time" property="ccciGetTime" />
        <result column="ccie_think" property="ccieThink" />
        <result column="user_id" property="userId" />
    </resultMap>

</mapper>
