<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changlu.web.mapper.ZfGradeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.changlu.web.entity.ZfGradeModel">
        <id column="grade_id" property="gradeId" />
        <result column="grade_num" property="gradeNum" />
    </resultMap>

</mapper>
